.tela {
    color: var(--color-text);
    font-family: var(--font-monospace);
    font-size: 4rem;
    font-weight: 600;
}

.l-tela {
    @include flex;
    height: calc(100vh - 50px);
}

.item {
    cursor: pointer;
}

.l-item {
    // display: flex;
    @include flex;
    gap: 10px;
}

.item__hora::after,
.item__minuto::after {
    content: ":";

}

// objetos ------------------

.fa-toggle {
    &-on {
        display: none;

    }

    &-off {
        padding: 6px;
        cursor: pointer;
    }
}