// 02.Tools/_b.mixins.scss

@mixin box-size($height: 100%, $width: $height) {
    height: $height;
    width: $width;
};

@mixin flex($direction: row, $wrap: wrap, $align-horizontal: center, $align-vertical: center) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $align-horizontal;
    align-items: $align-vertical;
}
